<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zido.mapper.user.AnnouncementMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="site.zido.entity.Announcement">
		<result column="id" property="id" />
		<result column="pub_type" property="pubType" />
		<result column="pub_title" property="pubTitle" />
		<result column="announcement_time" property="announcementTime" />
		<result column="announcement_text" property="announcementText" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pub_type AS pubType, pub_title AS pubTitle, announcement_time AS announcementTime, announcement_text AS announcementText
    </sql>

</mapper>
