<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zido.mapper.user.BankCardMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="site.zido.entity.BankCard">
		<id column="id" property="id" />
		<result column="bank_name" property="bankName" />
		<result column="bank_card_number" property="bankCardNumber" />
		<result column="phone_number" property="phoneNumber" />
		<result column="bind_name" property="bindName" />
		<result column="bind_card" property="bindCard" />
		<result column="user_id" property="userId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, bank_name, bank_card_number, phone_number, bind_name, bind_card, user_id
    </sql>
	<insert id="insertBatch">
	  	insert into brush_bank_card (id,bank_name,bank_card_number,phone_number,bind_name,bind_card,user_id)
	  	VALUES
	  	<foreach collection="bankCards" open="(" close=")" separator="," item="card">
			#{card.id},#{card.bankName},#{card.bankCardNumber},#{card.phoneNumber},#{card.bindName},#{card.bindCard},#{card.userId}
		</foreach>
	</insert>
    <delete id="deleteNotRange">
		DELETE from brush_bank_card
		<where>
			<choose>
				<when test="bankCards.size() > 0">
					id not IN
					<foreach collection="bankCards" separator="," item="card" open="(" close=")">
						#{card}
					</foreach>
				</when>
				<otherwise>
					id = '-21325435'
				</otherwise>
			</choose>
		</where>
	</delete>

</mapper>
