<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zido.mapper.user.BusinessUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap type="site.zido.entity.BusinessUser" id="BaseResultMap">
		<id property="id" column="id"/>
		<result property="userId" column="userId"/>
		<result property="sort" column="sort"/>
		<result property="state" column="state"/>
		<result property="createTime" column="createTime"/>
		<result property="contactName" column="contactName"/>
		<result property="qq" column="qq"/>
		<result property="phoneNumber" column="phoneNumber"/>
		<result property="wechat" column="wechat"/>
		<result property="introduceId" column="introduceId"/>
		<result property="nickname" column="nickname"/>
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
         id, userId, sort, state, createTime, contactName, qq, phoneNumber, wechat, introduceId, nickname
    </sql>
	<select id="selectMaxSort" resultType="java.lang.Integer">
		  select max(sort) from brush_business_user
	</select>
	<select id="selectMaxUserName" resultType="java.lang.String">
		select username
		from brush_user
		  INNER join brush_business_user on brush_business_user.userId = brush_user.id
		ORDER BY brush_business_user.sort DESC LIMIT 1
	</select>
</mapper>
