<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zido.mapper.user.BusinessUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="site.zido.entity.BusinessUser">
		<id column="id" property="id" />
		<result column="userId" property="userId" />
		<result column="sort" property="sort" />
		<result column="state" property="state" />
		<result column="createTime" property="createTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, sort, state, createTime
    </sql>
	<select id="selectMaxSort" resultType="java.lang.Integer">
		  select max(sort) from brush_business_user
	</select>
	<select id="selectMaxUserName" resultType="java.lang.String">
		select username
		from brush_user
		  INNER join brush_business_user on brush_business_user.userId = brush_user.id
		ORDER BY brush_business_user.sort DESC LIMIT 1
	</select>
</mapper>
