<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zido.mapper.user.SubscriberUserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="site.zido.entity.SubscriberUser">
		<id column="id" property="id" />
		<result column="phone_number" property="phoneNumber" />
		<result column="id_card_front_url" property="idCardFrontUrl" />
		<result column="id_card_behind_url" property="idCardBehindUrl" />
		<result column="id_card" property="idCard" />
		<result column="real_name" property="realName" />
		<result column="avatar" property="avatar" />
		<result column="ali_pay" property="aliPay" />
		<result column="ali_tm" property="aliTm" />
		<result column="wechat" property="wechat" />
		<result column="taobao_star" property="taobaoStar" />
		<result column="sex" property="sex" />
		<result column="birth_day" property="birthDay" />
		<result column="qq" property="qq" />
		<result column="brushed" property="brushed" />
		<result column="recommand_screen_shot_url" property="recommandScreenShotUrl" />
		<result column="star_screen_shot_url" property="starScreenShotUrl" />
		<result column="ali_pay_screen_shot_url" property="aliPayScreenShotUrl" />
		<result column="user_id" property="userId" />
		<result column="state" property="state" />
		<result column="create_time" property="createTime" />
		<result column="nickname" property="nickname" />
		<result column="introduce_id" property="introduceId" />
		<result column="age" property="age" />
		<result column="consumption_level" property="consumptionLevel" />
		<result column="delivery_address" property="deliveryAddress" />
		<result column="taobao_screen_shot_url" property="taobaoScreenShotUrl" />
		<result column="wechat_qr_code" property="wechatQRCode" />
		<result column="remarks" property="remarks" />
		<!--表中没有的字段-->
		<result column="introduceName" property="introduceName" />
	</resultMap>

	<resultMap id="SubscriberINFO" type="site.zido.dto.SubscriberUserInfoDTO">
		<association columnPrefix="bs_" property="subscriberUser" resultMap="site.zido.mapper.user.SubscriberUserMapper.BaseResultMap"/>
		<association columnPrefix="bu_" property="user" resultMap="site.zido.mapper.user.UserMapper.BaseResultMap"></association>
	</resultMap>
	
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, phoneNumber, IDCardFrontUrl, IDCardBehindUrl, IDCard, realName, avatar, aliPay, aliTM, wechat, taobaoStar, sex, birthDay, Qq, brushed, recommandScreenShotUrl, starScreenShotUrl, aliPayScreenShotUrl, userId,create_time,nickname
    </sql>

	<select id="selectByKey" resultMap="BaseResultMap">
		select user_id,nickname from brush_business_user where state = #{state} and (real_name like '%${key}%' or nickname like '%${key}%')
		order by ((case when real_name like '%${key}%' then 2 else 0 end) + (case when nickname like '%${key}%' then 1 else 0 end))  DESC ,sort DESC limit #{max}
	</select>

	<!--多条件搜索-->
	<select id="searchSubscriberList" resultMap="SubscriberINFO">
		SELECT

		t1.id AS bu_id,
		t1.enabled AS bu_enabled,

		bs.id AS bs_id,
		bs.phone_number AS bs_phone_number,
		bs.id_card_front_url AS bs_id_card_front_url,
		bs.id_card_behind_url AS bs_id_card_behind_url,
		bs.id_card AS bs_id_card,
		bs.real_name AS bs_real_name,
		bs.avatar AS bs_avatar,
		bs.ali_pay AS bs_ali_pay,
		bs.ali_tm AS bs_ali_tm,
		bs.wechat AS bs_wechat,
		bs.taobao_star AS bs_taobao_star,
		bs.sex AS bs_sex,
		bs.birth_day AS bs_birth_day,
		bs.qq AS bs_qq,
		bs.brushed AS bs_brushed,
		bs.recommand_screen_shot_url AS bs_recommand_screen_shot_url,
		bs.star_screen_shot_url AS bs_star_screen_shot_url,
		bs.ali_pay_screen_shot_url AS bs_ali_pay_screen_shot_url,
		bs.state AS bs_state,
		bs.create_time AS bs_create_time,
		bs.nickname AS bs_nickname,
		bs.introduce_id AS bs_introduce_id,
		bs1.nickname AS bs_introduceName,
		bs.age AS bs_age,
		bs.consumption_level AS bs_consumption_level,
		bs.delivery_address AS bs_delivery_address,
		bs.taobao_screen_shot_url AS bs_taobao_screen_shot_url,
		bs.wechat_QR_code AS bs_wechat_QR_code,
		bs.remarks AS bs_remarks,
		bs.user_id AS bs_user_id

		FROM brush_user t1
		INNER JOIN brush_subscriber_user bs on t1.id = bs.user_id
		INNER JOIN brush_subscriber_user bs1 on bs.introduce_id = bs1.user_id
		<where>
			<if test="condition.keywords != null">
				and (bs.nickname LIKE '%${condition.keywords}%' or bs.real_name like '%${condition.keywords}%')
			</if>
			<if test="condition.phoneNumber != null">
				and bs.phone_number LIKE '%${condition.phoneNumber}%'
			</if>
			<if test="condition.stime != null and condition.etime !=null">
				and (bs.create_time &gt; #{condition.stime} and bs.create_time &lt; #{condition.etime})
			</if>
			<if test="condition.states != null and condition.states.length &gt; 0">
				<trim prefixOverrides="or" prefix="and (" suffix=" ) ">
					<foreach collection="condition.states" item="state">
						or bs.state = #{state}
					</foreach>
				</trim>
			</if>
		</where>
		<if test="condition.sortName != null ">
			order by ${condition.sortName}
			<choose>
				<when test="condition.desc == true">
					DESC
				</when>
				<otherwise>
					ASC
				</otherwise>
			</choose>
		</if>
	</select>
	<select id="findSubUserByCondition" parameterType="java.lang.String" resultMap="BaseResultMap">
		SELECT phone_number,real_name FROM brush_subscriber_user WHERE phone_number LIKE '%${introUser}%' or real_name like '%${introUser}%'
	</select>
	<select id="findSubUserByNumber" resultType="java.lang.String" resultMap="BaseResultMap">
		SELECT phone_number FROM brush_business_user WHERE phone_number = #{adPhoneNumber}
	</select>


</mapper>
