<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.zido.mapper.user.UserCareerMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="site.zido.entity.UserCareer">
		<id column="user_id" property="userId" />
		<result column="career_id" property="careerId" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id AS userId, career_id AS careerId
    </sql>

	<select id="deleteNotRange">
		DELETE from brush_user_career
		<where>
			<choose>
				<when test="careers.size() > 0">
					and career_id not in
					<foreach collection="careers" separator="," item="career" open="(" close=")">
						#{career.career_id}
					</foreach>
				</when>
				<otherwise>
					id = '-9999999'
				</otherwise>
			</choose>
			and user_id = #{userid}
		</where>
	</select>

</mapper>
